.footer {
	background: #424e5e;
	background: #304350;
	background: #334257;
	background: #43474e;
	background: #476072;
	background: #334257;
	background: #4f5b61;
	text-align: center;
}

.footer-container {
	height: 180px;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #f8f5f5;
	font-weight: 200;

	a {
		text-decoration: none;
		color: #f8f5f5;
		cursor: pointer;
	}
	a:hover {
		color: orange;
		color: #509bc7;
		color: #92a6b1;
	}
}

.footer-title {
	line-height: 20%;
	color: #fff;
	color: #92a6b1;
	font-weight: 300;
	padding-bottom: 1rem;
	span {
		font-size: 1.8rem;
		font-weight: 300;
	}
	span:nth-child(2) {
		color: grey;
		color: #7c8d97;
		color: #92a6b1;
		color: #fff;
		font-weight: 100;
	}
	p:nth-child(2) {
		color: #ccc;
		font-size: 0.65rem;
	}
}

.emailphone,
.finepprint {
	font-size: 0.8rem;
	display: flex;
	flex-direction: column;
	letter-spacing: 0.5px;
}

.finepprint {
	padding: 1rem 0;
	font-size: 0.7rem;
}

.copyright {
	font-size: 0.7rem;
	color: $grey;
	padding-bottom: 0.5rem;
}
