.footer {
	background: #555663;
	text-align: center;
}

.footer-container {
	height: 180px;
	padding-top: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #f8f5f5;
	font-weight: 200;

	a {
		text-decoration: none;
		color: #f8f5f5;
		cursor: pointer;
	}
	a:hover {
		color: orange;
	}
}

.footer-title {
	line-height: 20%;
	color: #fff;
	font-weight: 300;
	padding-bottom: 1rem;
	span {
		font-size: 2.4rem;
		font-weight: 200;
	}
	span:nth-child(2) {
		color: grey;
		font-weight: 300;
	}
	p:nth-child(2) {
		color: #ccc;
		font-size: 0.7rem;
	}
}

.emailphone,
.finepprint {
	font-size: 0.9rem;
	display: flex;
	flex-direction: column;
}

.finepprint {
	padding: 1rem 0;
	font-size: 0.8rem;
}

.copyright {
	font-size: 0.7rem;
	color: $grey;
	padding-bottom: 0.5rem;
}
