@media screen and (max-width: 800px) {
	.hero-inner {
		height: 20rem;
	}

	.burger {
		visibility: visible;
	}

	.nav-list {
		background: #444650;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		flex-direction: column;
		transform: translateX(-100%);
		transition: transform 0.95s ease-in-out;
		z-index: 8;
		justify-content: flex-start;
		padding-top: 12vh;
	}

	.logo {
		align-self: center;
		padding-bottom: 2rem;
	}

	.deb-logo,
	.cooper-logo {
		font-size: 2rem;
	}

	.deb-logo {
		color: #fff;
		font-weight: 100;
	}
	.cooper-logo {
		color: grey;
		font-weight: 300;
	}

	.nav-active {
		transform: translateY(0%);
	}

	.nav-links {
		opacity: 0;
	}

	.nav-links {
		color: #fff;
		padding: 1rem 0;
		padding-left: 10vw;
		a {
			color: $grey;
			font-size: 1.5rem;
		}
	}

	.nav-links:nth-child(2) {
		padding-left: 10vw;
	}
	.nav-links:nth-child(1) {
		padding-top: 0;
	}

	.nav-active {
		transform: translateY(0%);
	}

	.hero-title {
		padding-top: 10vh;
		line-height: 45%;
	}

	.hero-title {
		span {
			font-size: 2.9rem;
		}
		p:nth-child(2) {
			font-size: 1.3rem;
			letter-spacing: 0.5px;
			line-height: 110%;
			padding: 0 10vw;
		}
	}

	.introduction {
		display: block;
	}

	.grid-container {
		display: grid;
		grid-template-columns: 100%;
		padding: 0;
	}

	.image-grid {
		grid-column: 1;
		padding-left: 0;
		margin: 3rem 0;
	}

	.heading {
		font-size: 2rem;
		line-height: 110%;
	}

	.text,
	.text-grid,
	.text-grid2,
	.accordion,
	.accordion-content {
		p {
			font-size: 1.2rem;
			line-height: 130%;
			font-weight: 300;
		}
	}

	.faq {
		padding: 0;
		padding-top: 2rem;
	}

	.text,
	.text-grid,
	.text-grid2,
	.accordion,
	.accordion-content {
		font-size: 1.1rem;
	}
}

@media screen and (min-width: 701px) {
	// body {
	// 	background: green;
	// }
	.hero-title {
		span {
			font-size: 3.7rem;
		}
		p:nth-child(2) {
			font-size: 1rem;
		}
	}
	.deb-image {
		width: 100%;
		background-size: cover;
		height: 750px;
	}

	.about-deb {
		padding-bottom: 4rem;
	}

	.introduction,
	.how-it-works {
		p {
			padding: 0 4rem;
		}
	}

	.grid-container {
		padding: 0 4rem;
	}

	.accordion,
	.accordion-content {
		p {
			padding: 0 6rem;
		}
	}
}

@media screen and (min-width: 801px) {
	// body {
	// 	background: lightblue;
	// }

	.deb-image {
		height: 450px;
	}
}

@media screen and (min-width: 900px) {
	// body {
	// 	background: lightblue;
	// }
	.nav-links:nth-child(2) {
		padding-left: 20vw;
	}

	.heading {
		padding-top: 4rem;
	}

	.about-deb {
		padding-bottom: 4rem;
	}

	.deb-image {
		height: 500px;
	}
	.contact-container {
		p {
			padding: 0 10vw;
		}
	}
}

@media screen and (min-width: 1200px) {
	.introduction,
	.how-it-works,
	.container {
		p {
			padding: 0 15vw;
		}
	}

	.contact-container {
		p {
			padding: 0 10vw;
		}
	}

	.faq {
		p {
			padding: 0 17vw;
		}
	}

	.about-deb {
		padding-right: 8rem;
		padding-left: 8rem;
		padding-right: 15vw;
		padding-left: 13vw;
	}

	.external-links {
		padding: 0 15vw;
	}
}

@media screen and (min-width: 1400px) {
	.hero-inner {
		height: 50vh;
	}
	.hero-title {
		span {
			font-size: 4.7rem;
		}
		p:nth-child(2) {
			font-size: 1.1rem;
		}
	}
	.nav-links:nth-child(2) {
		padding-left: 30vw;
	}
}

@media screen and (min-width: 1400px) {
	.nav-links:nth-child(2) {
		padding-left: 35vw;
	}
}
