{% extends "base.njk" %}

	{% block content %}


  
			{{ content | safe }}



<section class="hero">
		<div class="hero-inner">
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
			<nav>
					<ul class="nav-list">
            <div class="logo">
             
              <div class="deb-logo-name"></div>
            </div>
            
         
						<li class="nav-links"><a href="/">home</a></li>
						<li class="nav-links"><a href="/about">about deborah</a></li>
						<li class="nav-links"><a href="/how-it-works">how it works</a></li>
						<li class="nav-links"><a href="/contact">contact</a></li>
					</ul>
			</nav>



      <div class="hero-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      
       
		</div>
  </section>
 
  <section class="content">

    

    
    
    <div class="about-deb">
      
        <div class="heading">
          <p>About Deborah</p>
        </div>
      
        
          <div class="grid-container">
            <div class="text-grid">
              
              <p>My work as a natural therapist spans 35 years and it began in the Northern Rivers region of NSW. As a young mother I found it hard to obtain the type of care, support and advice I was seeking for myself and my children from conventional medicine, and so I commenced formal studies in natural therapies in Lismore in the early 1980s. I began offering childbirth support as a doula in 1984, opened my first clinic in 1987 and I have been in continuous clinical practice since that time.</p>
              
              <p>An accredited Naturopath, Nutritionist and Herbalist, I describe myself as a traditional therapist whose main treatment modalities are Western Herbal Medicine and Nutrition. My education in Naturopathy allows me to draw from a number of different modalities to ensure you receive the most suitable treatment when and as required for your individual needs. While Naturopathy is a stand alone qualification, the study of Naturopathy encompasses a range of traditional fields of medicine as well as health sciences.</p>
            </div>
            <div class="image-grid">
              <div class="deb-image"></div>
            </div>
            <div class="text-grid2">
              <p>While my professional education and career has developed and evolved over time, it was my early training in the application of herbal medicine for womens health related matters that provided the strong foundation for my practice today. I relocated to Sydney in the early 90s working at the Women's Health Advisory Service (WHAS) and later as an associate at a Specialist Medical Centre with an obstetrician and gynaecologist. During this time I was provided with an ideal opportunity to test my herbal formulas for efficacy and this provided me with valuable insight that formed an important platform for my future work in this field.</p>
            
              <p>Today I continue to offer support and advice for any reproductive and hormonal health concerns you may have regardless of your age or gender. A nutritional assessment can be highly beneficial to ensure your diet is meeting your nutritional requirements during different stages of your life such as adolescence, pregnancy and menopause.
              I particularly enjoy supporting women as they transition through peri-menopause and menopause. This is a time when having the right herbal formula and nutritional advice can make such a positive difference to your life.</p>
            </div>
            <div class="text-grid">
              <p>I continue to assist women and their partners through all stages of childbirth preparation and beyond. My focus here has always been and remains centred on assisting others to achieve an informed, safe and positive birth experience.</p>

              <p>Although I have worked for many years in the field of women’s health, I do not limit my practice to this field alone. I have broadened my practice to include working with people of all ages, across a broad variety of health related matters. These include but are not limited to digestive problems, cancer support, sleep disorders, arthritis and pain management, alopecia, headaches, seasonal allergies, weight management, immune system support, suspected food intolerances, stress and anxiety management and skin disorders. My interest in skin conditions has led me to develop and manufacture my own range of hand made organic skin care products.</p>

              <p>My nutritional training extends to sports nutrition, and I have personal experience as an accredited sports trainer, coach and competitor. I enjoy assisting anyone who wants to improve their stamina and fitness, reduce fatigue and prevent injury in their chosen sport.</p>

              <p>Essentially I will work with you for any health related matter.</p>

            </div>
            <div class="text-grid statement-text">
              <p>Deborah is an accredited member and Fellow of the Australian               Traditional Medicine Society (ATMS).</p>
            </div>
           
          </div>
    </div>    
        
        
      
    
     
    
    
    
 
      
  
  

    
  </section> 

    

 


  <footer class="footer">
    <div class="footer-container">
      <div class="footer-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      <div class="emailphone">
        <a class="emailphone" href="/">info@deborahcooper.com.au</a>
        <a class="emailphone" href="/">0421 335645</a>
      </div>
      <div class="finepprint">
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms & Conditions</a>
      </div>
    </div>
    
    <div class="copyright">
      <p>&copy 2021 Deborah Cooper All Rights Reserved</p>
    </div>
  </footer>  

{% endblock content %}

