{% extends "base.njk" %}

	{% block content %}


  
			{{ content | safe }}

  <section class="hero">
		<div class="hero-inner">
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
			<nav>
					<ul class="nav-list">
            <div class="logo">
              <div class="deb-logo-name"></div>
            </div>
            
						<li class="nav-links"><a href="/">home</a></li>
						<li class="nav-links"><a href="/about">about deborah</a></li>
						<li class="nav-links"><a href="/how-it-works">how it works</a></li>
						<li class="nav-links"><a href="/faq">faq</a></li>
						<li class="nav-links"><a href="/contact">contact</a></li>
					</ul>
			</nav>



      <div class="hero-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      
       <div class="btn-container-hero btn-container">
        <button class="btn">
          <a href="https://app.acuityscheduling.com/schedule.php?owner=23520442" target="_blank" class="acuity-embed-button" style="color: #fff; padding: 1.5rem; border: unset; box-shadow: unset; border-radius: unset; display: inline-block;">Schedule Appointment</a><link rel="stylesheet" href="https://embed.acuityscheduling.com/embed/button/23520442.css" id="acuity-button-styles" /><script src="https://embed.acuityscheduling.com/embed/button/23520442.js" async></script>
        </button>
                
      </div>
		</div>
  </section>
 
  <section class="content">

    

 
      <div class="faq">
        <div class="heading faq-heading">
          <p>Frequently Asked Questions</p>
        </div>
        <div class="accordion">
          <p>How long is an initial consultation?</p>
        </div>
        <div class="accordion-content">
          <p>An initial Naturopathic or Nutritional consultation will take approximately 1 hour</p>
        </div>
        <div class="accordion">
          <p>What can I expect from my first appointment?</p>
        </div>
        <div class="accordion-content">
          <p>During the initial consultation Deborah will assess your current health and review your health history. Deborah will work with you to develop an initial 3 month stepped health plan that will incorporate your health goals and address any immediate health concerns you have raised.</p>
        </div>
        <div class="accordion">
          <p>When will I need a follow up appointment?</p>
        </div>
        <div class="accordion-content">
          <p>Deborah will arrange a follow up appointment approximately 2-6 weeks after your initial consultation depending on your individual needs. At the follow up visit Deborah will assess your progress and review your treatment plan.  Follow up appointments are generally 30 minute consultations, however you can request an hour if required.</p>
        </div>
        <div class="accordion">
          <p>What assessments are undertaken during a consultation?</p>
        </div>
        <div class="accordion-content">
          <p class="">Deborah will undertake a comprehensive health, dietary and lifestyle assessment. Any physical assessments undertaken are non-invasive and may include such things as checking your fingernails, hair and tongue diagnosis. Iris diagnosis or iridology assessment will be made when possible. Deborah may recommend clinical and laboratory diagnostic tests such as general and functional pathology or Hair Tissue Mineral Analysis (HTMA) if deemed necessary or beneficial.</p>
        </div>
        <div class="accordion">
          <p>What are some of the more commonly treated conditions?</p>
        </div>
        <div class="accordion-content">
          <p class="">A person may consult with a Naturopath for almost anything to do with their mental, physical or emotional health. You may simply want a wellness consultation or advice on healthy ageing, weight loss, or how to improve energy levels.</p>
          <p class="">It is not uncommon for people to arrange a consultation for something quite specific such as managing high cholesterol, insomnia, planning for pregnancy, menstrual problems, menopause, recurring UTI’s or stress management.</p>
          <p class="">Perhaps you are seeking dietary advice for the management of gout or arthritis, skin conditions such as psoriasis and eczema, or support for digestive disorders such as reflux, SIBO, and IBS.</p>
          <p class="">Herbal remedies may be requested for more acute symptoms of cold or flu, headaches, sinusitis, or digestive problems such as constipation.</p>
          <p class="">Or you might be looking for additional support or nutritional advice following cancer therapy or other serious illness.</p>
          <p class=""></p>
        </div>
        <div class="accordion">
          <p>How much will I have to pay for a consultation?</p>
        </div>
        <div class="accordion-content">
          <p class="">60 minute initial consultations for new clients are $215</p>
          <p>30 minute follow up consultations are $115 (Concession $95)</p>
          <p>60 minute follow up consultations are $175 (Concession $135)</p>
        </div>
        <div class="accordion">
          <p>Can I order repeat prescriptions of herbal formulas without an appointment?</p>
        </div>
        <div class="accordion-content">
          <p class="">Please note that by law any new formulas or repeat prescriptions can only be made up if you have consulted with Deborah in the last 6 months. All requests for repeat formulas in the absence of a consultation will incur a $15 dispensing fee.</p>
          <p>Any enquiries and requests for herbal formulas should be made directly to Deborah via email at <a class="email-link" href="mailto:info@deborahcooper.com.au">info@deborahcooper.com.au</a></p>
         
        </div>

        <div class="btn-container faq-btn-container">
          <button class="btn">
            <a href="https://app.acuityscheduling.com/schedule.php?owner=23520442" target="_blank" class="acuity-embed-button" style="color: #fff; padding: 1.5rem; border: unset; box-shadow: unset; border-radius: unset; display: inline-block;">Schedule Appointment</a><link rel="stylesheet" href="https://embed.acuityscheduling.com/embed/button/23520442.css" id="acuity-button-styles" /><script src="https://embed.acuityscheduling.com/embed/button/23520442.js" async></script>
          </button>        
        </div>
      </div>
  </section> 



 


  <footer class="footer">
    <div class="footer-container">
      <div class="footer-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      <div class="emailphone">
        <a class="emailphone" type="email" href="mailto:info@deborahcooper.com.au">info@deborahcooper.com.au</a>
        <a class="emailphone" href="tel:0421335645">0421 335645</a>
      </div>
      <div class="finepprint">
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms & Conditions</a>
      </div>
    </div>
    
    <div class="copyright">
      <p>&copy 2021 Deborah Cooper All Rights Reserved</p>
    </div>
  </footer>  

{% endblock content %}
