{% extends "base.njk" %}

	{% block content %}


  
			{{ content | safe }}



<section class="hero">
		<div class="hero-inner">
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
			<nav>
					<ul class="nav-list">
            <div class="logo">
             
              <div class="deb-logo-name"></div>
            </div>
            
         
						<li class="nav-links"><a href="/">home</a></li>
						<li class="nav-links"><a href="/about">about deborah</a></li>
						<li class="nav-links"><a href="/how-it-works">how it works</a></li>
            <li class="nav-links"><a href="/faq">faq</a></li>
						<li class="nav-links"><a href="/contact">contact</a></li>
					</ul>
			</nav>



      <div class="hero-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      
       <div class="btn-container-hero btn-container">
        <button class="btn">
          <a href="https://app.acuityscheduling.com/schedule.php?owner=23520442" target="_blank" class="acuity-embed-button" style="background: #7c8d97; color: #fff; padding: 1.5rem; border: unset; box-shadow: unset; border-radius: unset; display: inline-block;">Schedule Appointment</a><link rel="stylesheet" href="https://embed.acuityscheduling.com/embed/button/23520442.css" id="acuity-button-styles" /><script src="https://embed.acuityscheduling.com/embed/button/23520442.js" async></script>
        </button>
                
      </div>
		</div>
  </section>
 
  <section class="content">

    <div class="container">
      
        <div class="heading">
          <p>How it Works</p>
        </div>
      
        
        <div class="grid-container">
          <div class="text-grid">
              
            <p>At your initial consultation Deborah will undertake a dietary, health, and lifestyle assessment, with a view to creating a comprehensive health profile.  Deborah will be interested to learn more about you and your health history in order to know how she can best assist you.</p>

            <p>Deborah will take the time to explain her findings and rationale for any proposed treatment plan which may include recommendations for herbal medicine, homoeopathy or nutritional supplements to maintain or restore health.</p>

            <p>Deborah will want to know if you are taking any prescription medicines, over-the-counter medicines and nutritional supplements. Please bring (or email) that information to the consultation so that Deborah can reassess what complementary medicines you are taking; check for any potential contraindications; and determine if you are taking the most suitable supplements for your health needs.</p>
            
            <p>In addition to the above, please also provide any relevant pathology results, imaging reports, scans or other relevant test results to the consultation.</p>

            <p>Deborah will arrange a follow up appointment approximately 2-6 weeks after your initial consultation depending on your individual needs. At the follow up visit Deborah will need to assess your progress and review your treatment plan. If herbs have been prescribed the formula will be reviewed and altered if required.</p>

            <p>Follow up appointments are generally 30 minute consultations, however you can request an hour if required. Any subsequent appointments will be determined according to your individual health needs.</p>
            <p></p>

            <div class="sub-heading">
              <p>Deborah’s Nutritional Approach to Healing</p>
            </div>

            <p>Deborah's nutritional approach to healing is based on using ‘food as medicine’ and any dietary advice recommended will be tailored to your individual health needs, while also forming a strong healthy base for your ongoing future health.</p>

            <p>Deborah aims to identify nutritional deficiencies and/or potential food intolerances in your diet, and you can expect she will generally make suggestions for foods to include in your diet rather than excluding foods from your diet. Where possible, Deborah wants to ensure you are eating from a broad based diet, so there is a greater likelihood your nutritional needs are being met without the need for ongoing supplementation.</p>

            <div class="sub-heading">
              <p>Herbal Medicine</p>
            </div>

            <p>Deborah has undertaken many years of training in the field of Western Herbal Medicine and has more than 35 years of experience in dispensing individual prescriptions for herbal medicine formulas and topical treatments.</p>

            <p>Herbs act synergistically, and like many of our foods, herbal tinctures have an underlying chemistry that can help to nourish the tissues of the body and restore health.</p>

            <p>Deborah has a fully stocked herbal dispensary of standardised herbal liquids that have been rigorously tested in Australian laboratories.</p>

            <p>All new herbal formulas and repeat prescriptions are formulated by Deborah and customised to suit individual requirements. Herbal formulas can be collected or posted to you via regular or express post by arrangement.</p>

            <p>Please note that by law any new formulas or repeat prescriptions can only be made up if you have consulted with Deborah in the last 6 months. All requests for repeat formulas in the absence of a consultation will incur a $15 dispensing fee.</p>

            <p>Any enquiries and requests for herbal formulas should be made directly to Deborah via email at <a class="email-link" href="mailto:info@deborahcooper.com.au">info@deborahcooper.com.au</a></p>


            <div class="sub-heading">
              <p>Physical Examinations & Diagnostic testing</p>
            </div>
            
            <p>Any physical examinations undertaken during a consultation are non-invasive and may include checking your hair, skin, nails, eyes (iridology) and tongue, as well as checking your resting heart rate and blood pressure. These physical examinations often provide additional diagnostic information to help determine underlying health issues that may not be evident in routine screening tests.</p>

            <p>Deborah may recommend further clinical and laboratory diagnostic tests if deemed necessary or beneficial. This may include referral for clinical and functional pathology, or less invasive Hair Tissue Mineral Analysis (HTMA).</p>

          </div>
        </div>
    </div>    
  
  </section> 

 
  <footer class="footer">
    <div class="footer-container">
      <div class="footer-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      <div class="emailphone">
        <a class="emailphone" href="/">info@deborahcooper.com.au</a>
        <a class="emailphone" href="/">0421 335645</a>
      </div>
      <div class="finepprint">
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms & Conditions</a>
      </div>
    </div>
    
    <div class="copyright">
      <p>&copy 2021 Deborah Cooper All Rights Reserved</p>
    </div>
  </footer>  

{% endblock content %}

