{% extends "base.njk" %}

	{% block content %}


  
			{{ content | safe }}

        <section class="hero">
		<div class="hero-inner">
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
			<nav>
					<ul class="nav-list">
          
            <div class="logo">
              <li><a href="/"><span class="deb-logo">deborah</span><span class="cooper-logo">cooper</span></a></li>
              <li><a href="/">Naturopath, Herbalist, & Nutritionalist</a></li>
            </div>
						<li class="nav-links"><a href="/">home</a></li>
						<li class="nav-links"><a href="/about">about</a></li>
						<li class="nav-links"><a href="/">how it works</a></li>
						<li class="nav-links"><a href="/">contact</a></li>
						<li class="nav-links"><a href="/">book now</a></li>
					</ul>
			</nav>

      <div class="hero-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      <div class="btn-container">
        <button class="btn">
          <a class="booking" href="/"><p>Book Now</p></a>
        </button>
      </div>
		</div>
  </section>

  <section class="content">

    

    
    <div class="introduction">

      <div class="heading">
        <p>What is Naturopathy?</p>
      </div>
      <div class="text">
        <p>Naturopathy is a system of healthcare in which the practitioner works with the patient to improve, maintain or re-establish health.</p>
        <p>Naturopathy focuses on the whole person in order to discover the cause of disease rather than just treating symptoms.</p>
        <p class="learn-more">Learn More</p>
      </div>
    </div>
    <div class="about-deb">
      
        <div class="heading">
          <p>About Deborah Cooper</p>
        </div>
      
      </div>
          <div class="grid-container">
            <div class="text-grid">
              
              </p><p>Deborah Cooper is an experienced health practitioner who is  accredited for Nutrition, Naturopathy, Herbal medicine and Remedial  Massage with the Australian Traditional Medicine Society (ATMS).</p>
          </div>
            <div class="image-grid">
              <div class="deb-image"></div>
            </div>
            <div class="text-grid2">
              <p>With more than 35 years of continuous clinical practice in   multidisciplinary and specialist health centres, Deborah is well placed to  provide comprehensive health assessments, support and advice on a  broad range of health issues.</p>
            
            
            
              <p>Deborah sees herself as an educator, and she will keep you informed by providing you with relevant information if and when required, and involve you in your health care so that you are empowered to maintain health and wellbeing.</p>
            
              <p>A published author, Deborah's books include The Body Shaping Diet,   Women's Health in Women's Hands and Your Baby Your Way.</p>
              <p class="learn-more">Learn More</p>
            </div>
           
          </div>
          
        
      
    
     
    <div class="how-it-works">
      <div class="heading">
        <p>How it Works</p>
      </div>
      <div class="text">
        <p>Deborah is offering both in person consultations from her rooms in Maroubra, as well as phone and telehealth consultations via zoom.</p>

        <p>During the consultation, Deborah will take a thorough medical history, as well as dietary and lifestyle assessment. Deborah will bring this information together and work with you to develop a health plan for the next three months.</p>
        <p>Deborah's comprehensive consultation and treatment plan includes nutritional, dietary and lifestyle advice, as well as providing nutritional supplements and herbal medicines where required.</p>
        
        <p class="learn-more">Learn More</p>

      </div>
    </div>
    
    
    
    <div class="fa-questions">
      <div class="faq">
        <div class="heading">
          <p>Frequently Asked Questions</p>
        </div>
        <div class="accordion">
          <p class="">How long is an initial consultation?</p>
        </div>
        <div class="accordion-content">
          <p class="">An initial Naturopathic or Nutritional consultation will take approximately 1 hour.</p>
        </div>
        <div class="accordion">
          <p class="">What can I expect from my first appointment?</p>
        </div>
        <div class="accordion-content">
          <p class="">During the initial consultation Deborah will develop a stepped health plan that will be implemented over the next three months. Deborah does not always prescribe herbal medicine at your first visit because it may be preferable to initially make dietary and lifestyle changes.</p>
        </div>
        <div class="accordion">
          <p class="">When will I need a follow up appointment?</p>
        </div>
        <div class="accordion-content">
          <p class="">Deborah will generally arrange a follow up appointment to monitor your progress and reassess your plan. It is not unusual for adjustments to be made to any herbal formula you have been prescribed at the second visit. Follow up appointments generally take approximately 20-30 minutes unless you specifically request an hour.</p>
        </div>
        <div class="accordion">
          <p class="">What assessments are undertaken during a consultation?</p>
        </div>
        <div class="accordion-content">
          <p class="">Physical examinations may include checking your hair, skin, nails, eyes and tongue, as well as taking your blood pressure. Deborah may recommend clinical and laboratory diagnostic tests if deemed necessary or beneficial.</p>
        </div>
        <div class="accordion">
          <p class="">What are some of the more commonly treated conditions?</p>
        </div>
        <div class="accordion-content">
          <p class="">A person may consult with a Naturopath for almost anything to do with their mental, physical or emotional health. You may simply want a wellness consultation, or something more specific such as high cholesterol, planning for pregnancy, menstrual irregularity, fertility issues (men and women), skin problems, mood disorders or difficulty sleeping. Perhaps you have more acute symptoms that need to be addressed immediately such as urinary tract infections, cold or flu symptoms, allergies, headaches, arthritis or digestive problems. Or there may be a long-standing problem such as an irritable bowel, or autoimmune disease, or you might be looking for additional support during or after treatment for cancer.</p>
        </div>
        <div class="accordion">
          <p class="">How much will I have to pay for a consultation?</p>
        </div>
        <div class="accordion-content">
          <p class="">Just need to fill in this question - noting that the consultation includes the health assessment, but things like lab tests if required are an additional expense.  Need to ensure that your trumpeting your services well here - i.e. you may not be charging as much as other naturopaths who charge seperately for hair analysis etc, so need to plug this subtely</p>
        </div>
      </div>
    </div>
  

    <div class="btn-container">
      <button class="btn other-btn">
        <a class="other-booking" href="/"><p>Book Now</p></a>
      </button>
    </div>
  </section> 

    

 


  <footer class="footer">
    <div class="footer-container">
      <div class="footer-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      <div class="emailphone">
        <a class="emailphone" href="/">info@deborahcooper.com.au</a>
        <a class="emailphone" href="/">0421 335645</a>
      </div>
      <div class="finepprint">
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms & Conditions</a>
      </div>
    </div>
    
    <div class="copyright">
      <p>&copy 2020 Deborah Cooper All Rights Reserved</p>
    </div>
  </footer>  

{% endblock content %}
