{% extends "base.njk" %}

	{% block content %}


  
			{{ content | safe }}

        <section class="hero">
		<div class="hero-inner">
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
			<nav>
					<ul class="nav-list">
          
            <div class="logo">
              <li><a href="/"><span class="deb-logo">deborah</span><span class="cooper-logo">cooper</span></a></li>
              <li><a href="/">Naturopath, Herbalist, & Nutritionalist</a></li>
            </div>
						<li class="nav-links"><a href="/">home</a></li>
						<li class="nav-links"><a href="/about">about</a></li>
						<li class="nav-links"><a href="/">womens health</a></li>
						<li class="nav-links"><a href="/">contact</a></li>
						<li class="nav-links"><a href="/">book now</a></li>
					</ul>
			</nav>

      <div class="hero-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopath, Herbalist, & Nutritionalist</p>
      </div>
      <div class="btn-container">
        <button class="btn">
          <a class="booking" href="/"><p>Book Now</p></a>
        </button>
      </div>
		</div>
  </section>

  <section class="content">
    <div class="introduction">
      <div class="heading">
        <p>About Deborah Cooper</p>
      </div>
      <div class="text">
        <p>Deborah Cooper is an experienced health practitioner who is accredited for Nutrition, Naturopathy, Herbal medicine and Remedial Massage with the Australian Traditional Medicine Society (ATMS).</p>
        <p>With more than 35 years of continuous clinical practice in multidisciplinary and specialist health centres, she is well placed to provide comprehensive health assessments, support and advice on a broad range of health issues.</p>
        <p>A published author, Deborah's books include The Body Shaping Diet, Women's Health in Women's Hands and Your Baby Your Way.</p>
      </div>
    </div>
    <div class="deb-image"></div>
    <div class="how-it-works">
      <div class="heading">
        <p>How it works</p>
      </div>
      <div class="text">
        <p>Deborah Cooper is an experienced health practitioner who is accredited for Nutrition, Naturopathy, Herbal medicine and Remedial Massage with the Australian Traditional Medicine Society (ATMS).</p>
        <p>With more than 35 years of continuous clinical practice in multidisciplinary and specialist health centres, she is well placed to provide comprehensive health.</p>
        <p>With more than 35 years of continuous clinical practice in multidisciplinary and specialist health centres, she is well placed to provide comprehensive health assessments.</p>
        <p>She is well placed to provide comprehensive health assessments, support and advice on a broad range of health issues.</p>
        <p>A published author, Deborah's books include The Body Shaping Diet, Women's Health in Women's Hands and Your Baby Your Way.</p>
      </div>
      <div class="btn-container">
        <button class="btn">
          <a class="booking" href="/"><p>Book Now</p></a>
        </button>
      </div>
    </div>
    <div class="faq">
      <div class="heading">
        <p>faq</p>
      </div>
      <div class="accordion">
        <p class="">How long does a photo session take?</p>
      </div>
      <div class="accordion-content">
        <p class="">Photography sessions last between 1 and 2 hours, which includes all set up.  
        An hour to an hour an a half is generally a good estimate.</p>
      </div>
      <div class="accordion">
        <p class="">Where does the shoot take place?</p>
      </div>
      <div class="accordion-content">
        <p class="">From the comfort of your own home, a familiar location, 
        or a combination of both.  In addition to the indoor studio shots, a variety of shots can 
        also be taken outside with natural daylight.</p>
      </div>
      <div class="accordion">
        <p class="">When can I see the finished digital images?</p>
      </div>
      <div class="accordion-content">
        <p class="">Prints can be downloaded directly from the website via the 
        user login.  You will be notified when the images are available for download.  Editing generally 
        takes up to two weeks following the day of the shoot.</p>
      </div>
    </div>

    
  </section> 

    

 


  <footer class="footer">
    <div class="footer-container">
        <div class="logo">
          <li><a href="/"><span class="deb-logo">deborah</span><span class="cooper-logo">cooper</span></a></li>
           <li><a href="/">Naturopath, Herbalist, & Nutritionalist</a></li>
        </div>
        <div class="emailphone">
          <a class="emailphone" href="/">info@deborahcooper.com.au</a>
          <a class="emailphone" href="/">0421 335645</a>
        </div>
        <div class="finepprint">
          <a href="/">Privacy Policy</a>
          <a href="/">Terms & Conditions</a>
        </div>
    </div>
    
    <div class="copyright">
      <p>&copy 2020 Deborah Cooper All Rights Reserved</p>
    </div>
  </footer>  

{% endblock content %}
