{% extends "base.njk" %}

	{% block content %}


  
			{{ content | safe }}

<section class="hero">    
  <div class="hero-inner">
		<div class="burger">
			<div class="line1"></div>
			<div class="line2"></div>
			<div class="line3"></div>
		</div>
		<nav>
			<ul class="nav-list">
        <div class="logo">
          <div class="deb-logo-name"></div>
        </div>
        <li class="nav-links"><a href="/">home</a></li>
        <li class="nav-links"><a href="/about">about</a></li>
				<li class="nav-links"><a href="/how-it-works">how it works</a></li>
				<li class="nav-links"><a href="/contact">contact</a></li>
			</ul>
		</nav>

    <div class="hero-title">
      <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
      <p>Naturopathy, Herbal Medicine and Nutrition</p>
    </div> 
  </div>
</section>

<section class="content">
    
  <div class="container">
    <div class="heading">
      <p>Privacy Policy</p>
    </div>
    <div class="text privacy-text">
      <p>Your privacy is important to me and the protection of your personal information is a priority. Whether you are a visitor to this website, or purchasing goods and services, your privacy and confidentiality of information is respected.</p>
      <div class="sub-heading">
        <p>Personal Data</p>
      </div>
      <p>Personal Data includes any information that can be used to identify you such as your name, date of birth, shipping address, email address and phone number. You may consent to provide this information when you participate in certain activites within this website and your decision to do so is voluntary. You are under no obligation to provide this information however your refusal may affect your ability to book your consultation and/or make purchases within the site such as consultation fees, herbal medicines and other products.</p>
      <p>As a courtesy we include a link to the privacy policy of our telehealth server and booking system below.</p>
        
      <div class="external-links">
        <a href="https://www.coviu.com/en-au/privacy" target="_blank">https://www.coviu.com/en-au/privacy</a>
              
        <a href="https://www.squarespace.com/privacy" target="_blank">https://www.squarespace.com/privacy</a>
      </div>

      <div class="sub-heading">
        <p>Derivative Data</p>
      </div>
      <p>Derivative Data is data that servers collect from you when you access the website. This includes the time and date you accessed the site, the pages you viewed, your IP address and which browser you used.</p>
        
      <div class="sub-heading">
        <p>Health Data</p>
      </div>
      <p>Your health records are written in paper format and your file, which includes your personal and health information, is stored in a secure locked environment. Obsolete files are shredded before disposal. No financial data is stored within your file.</p>
      <div class="sub-heading">
        <p>Financial Data</p>
      </div>
      <p>Financial Data is data that you provide when making payments such as credit card payments and bank transfers. We use this data to process payments and issue refunds.</p>
      <p>Invoices and receipts that we send to you do not contain your financial data. Credit card details that are voluntarily given over the phone are destroyed once successful payment has been made.</p>
      <p>When you make an online payment, your financial data is processed through a third party payment system. We recommended that you review the Privacy Policy of these payment processors listed below to determine how they protect and use your financial data.</p>

      <div class="external-links">
        <a href="https://squareup.com/au/en/legal/general/privacy-no-account"  target="_blank">https://squareup.com/au/en/legal/general/privacy</a>
      </div>
        
      <p>While all reasonable steps are taken to protect your privacy and safeguard sensitive information, we cannot guarantee that data you transmit through this website is 100% secure.</p>

      <p>Deborah Cooper adheres to the National Privacy Principles contained within the Australian Privacy Act 1988 available at <a class="policy-link" href="https://www.legislation.gov.au/Details/C2021C00242" target="_blank">https://www.legislation.gov.au/Details/C2021C00242</a>
    </div>
  </div>
</section>

<footer class="footer">
  <div class="footer-container">
    <div class="footer-title">
      <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
      <p>Naturopathy, Herbal Medicine and Nutrition</p>
    </div>
    <div class="emailphone">
      <a class="emailphone" href="/">info@deborahcooper.com.au</a>
      <a class="emailphone" href="/">0421 335645</a>
    </div>
    <div class="finepprint">
      <a href="/privacy">Privacy Policy</a>
      <a href="/terms">Terms & Conditions</a>
    </div>
  </div>
    
  <div class="copyright">
    <p>&copy 2021 Deborah Cooper All Rights Reserved</p>
  </div>
</footer> 

{% endblock content %}
