{% extends "base.njk" %}

	{% block content %}


  
			{{ content | safe }}

<section class="hero">    
<div class="hero-inner">
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
			<nav>
					<ul class="nav-list">
            <div class="logo">
             
              <div class="deb-logo-name"></div>
            </div>
            
         
						<li class="nav-links"><a href="/">home</a></li>
            	<li class="nav-links"><a href="/about">about</a></li>
						<li class="nav-links"><a href="/">how it works</a></li>
						<li class="nav-links"><a href="/contact">contact</a></li>
					
					</ul>
			</nav>
<div class="hero-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      
      
  </div>

</section>




  <section class="content">
    
    <div class="how-it-works">
      <div class="heading">
        <p>Privacy Policy</p>
      </div>
      <div class="text">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor.</p>
        <p>In reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <p>Duis aute irure dolor in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    </div>
    
    </section>
    

    
  

    

 


    <footer class="footer">
    <div class="footer-container">
      <div class="footer-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      <div class="emailphone">
        <a class="emailphone" href="/">info@deborahcooper.com.au</a>
        <a class="emailphone" href="/">0421 335645</a>
      </div>
      <div class="finepprint">
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms & Conditions</a>
      </div>
    </div>
    
    <div class="copyright">
      <p>&copy 2020 Deborah Cooper All Rights Reserved</p>
    </div>
  </footer> 

{% endblock content %}
