{% extends "base.njk" %}

	{% block content %}


  
			{{ content | safe }}

<section class="hero">    
<div class="hero-inner">
			<div class="burger">
				<div class="line1"></div>
				<div class="line2"></div>
				<div class="line3"></div>
			</div>
			<nav>
					<ul class="nav-list">
            <div class="logo">
             
              <div class="deb-logo-name"></div>
            </div>
						<li class="nav-links"><a href="/">home</a></li>
            <li class="nav-links"><a href="/about">about</a></li>
						<li class="nav-links"><a href="/">how it works</a></li>
						<li class="nav-links"><a href="/contact">contact</a></li>
					
					</ul>
			</nav>
<div class="hero-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      
     
  </div>

</section>




  <section class="content">
    
    <div class="how-it-works">
      <div class="heading">
        <p>Website Terms & Conditions</p>
      </div>
      <div class="text privacy-text">
      <div class="sub-heading">
        <p>Introduction</p>
      </div>

      
        <p>This website, <a class="email-link" href="/">www.deborahcooper.com.au</a> is owned and operated by Deborah Cooper, ABN 11152635167.  This document sets out the Terms and Conditions you need to be aware of when using this website. Please take a moment to read them, as they set out your important rights and obligations. It is important to Deborah Cooper that the terms and conditions associated with using this website are clearly understood.</p>

        <p>If after reading these Terms and Conditions you have any questions or need further clarification, please contact Deborah Cooper directly by email at <a class="email-link" href="mailto:info@deborahcooper.com.au">info@deborahcooper.com.au</a></p>

        <p>These terms may be changed or modified from time to time. Please check back regularly to ensure you are aware of any changes.</p>

        <p>All products and services advertised on this website are offered in compliance with Australian Consumer Law.</p>

        <div class="sub-heading">
          <p>Definitions</p>
        </div>

        <p>Website refers specifically to this website, <a class="email-link" href="/">www.deborahcooper.com.au</a></p>

        <p>Services refer to the listed Services on this website provided by Deborah Cooper - specifically Naturopathic consultations, Nutritional consultations, dispensed herbal medicines following a consultation, and advice on nutritional supplementation following a consultation.</p>
        
        <p>Products refer to listed products displayed on this website that carry the label 'Deborah Cooper' and are listed in the 'Shop' section of this website.</p>

        <p>You and Your are references to either a user of the Website, a customer or a client, as applicable in the relevant circumstances.</p>

        <div class="sub-heading">
        <p>Website Content Disclaimer</p>
        </div>

        <p>On this website you will find information about Services and Products provided by Deborah Cooper. This website does not provide medical advice, diagnosis or treatment. This website is a portal for accessing naturopathic and nutritional advice that will be provided during a consultation with Deborah Cooper.</p>
        
        <div class="sub-heading">
        <p>Content Policy</p>
        </div>

        <p>The content of this website authorises you to view the material within the site for your personal education and non-commercial use.</p>

        <div class="sub-heading">
        <p>Visitor Responsibilities</p>
        </div>

        <p>You agree that you will not copy, rewrite or modify this website; transmit, redistribute or use any of the information on this website for any commercial purpose without prior written permission from Deborah Cooper.</p>

        <div class="sub-heading">
        <p>Downloads</p>
        </div>

        <p>You agree that you will not download any content that may violate or infringe on Deborah Coopers’ intellectual property and copyright or any third party rights.</p>
      
        <div class="sub-heading">
        <p>External Links</p>
        </div>

        <p>Deborah Cooper is not responsible for the content of any third party links that may appear on this site.</p>

        <div class="sub-heading">
        <p>Third Party Advertisements</p>
        </div>

        <p>No third party advertisments currently appear on the website.</p>
        
        <div class="sub-heading">
        <p>Disclaimer for Services</p>
        </div>

        <p>Should you choose to work with Deborah Cooper you will be required  to make an appointment by either booking online through this website or emailing <a class="email-link" href="mailto:info@deborahcooper.com.au">info@deborahcooper.com.au</a> to request a specific time and date. Deborah Cooper will endeavor to respond to your request within 24 hours.</p>

        <p>At the commencement of a consultation, you will be asked for verbal consent to allow Deborah Cooper to create a file that will contain personal health and medical information. This information will be kept private and held in strict confidence unless you  agree in writing for this information to be shared.</p>

        <p>Any enquiries or concerns you may have regarding any products made by or supplied by Deborah Cooper can be made by emailing <a class="email-link" href="mailto:info@deborahcooper.com.au">info@deborahcooper.com.au</a></p>

        <p>The terms and conditions in this document apply to all of the Services and Products provided by Deborah Cooper that are listed on this website.  Please be advised there is no professional relationship formed between you and Deborah Cooper unless you explicitly choose to work with Deborah Cooper by purchasing services provided by Deborah Cooper.</p>

        <div class="terms-sub-section">
        <p>Deborah Cooper provides the following Services:</p>
        <p>Naturopathic consultations</p>
        <p>Nutritional consultations</p>
        <p>Dispensed herbal medicines following a consultation</p>
        <p>Advice on nutritional supplementation following a consultation</p>
        </div>

        <p>Please note that repeat herbal formulas can only be dispensed within 6 months of a consultation. If it has been longer than 6 months since you have spoken with Deborah Cooper, you will be required to book a further consultation with Deborah Cooper in order to request another herbal formula. Repeat herbal formulas made within that 6 month period will incur a dispensing fee.</p>

        <p>Recommendations for nutritional supplementation may be provided following a health and dietary assessment and Deborah Cooper may recommend online ordering through a third party site. With your permission Deborah Cooper can provide you with an online script for Practitioner Only products. Be advised you are under no obligation or pressure to purchase nutritional supplements, and if you choose to place an order you do so voluntarily.</p>

        <p>During your consultation Deborah Cooper will take care to provide valuable and relevent information but cannot be responsible for the use that you make of that information. While all reasonable care is taken to ensure that the information provided during a consultation is accurate, up to date, and within the scope of her training, Deborah Cooper makes no guarantees in this regard, and disclaims any legal liability for any inaccuracy, incompleteness or error. If you find there is something that arises during or after a consultation with Deborah Cooper that seems problematic, it would be very helpful if you would speak to Deborah Cooper directly in relation to that matter.</p>

        <p>Please be advised that Deborah Cooper may modify the content provided on this website at any time, including altering or deleting it without notice.</p>

        <div class="sub-heading">
        <p>Intellectual Property</p>
        </div>

        <p>The content of this website and any documentation that you may be sent following a consultation is protected by copyright,  Deborah Cooper© with all rights reserved.</p>

        <p>This means you may not copy or reproduce any part of any content of this website, or any documentation that you may be sent following a consultation, without the written consent of Deborah Cooper.</p>

        <p>Commercial exploitation of any content that in any way competes with Deborah Cooper's business is strictly prohibited.</p>

        <p>All trade marks, logos, label designs and service marks displayed or featured within this website, or products contained within this website, are the exclusive property of Deborah Cooper. These trade marks, whether registered or unregistered, may not be used in connection with any other product or service without a licence, or in any way that is likely to cause confusion in the marketplace, or in any manner that disparages Deborah Cooper or her business.</p>

        <div class="sub-heading">
        <p>Waiver of Liability</p>
        </div>

        <p>Deborah Cooper does not promote herself as your primary health adviser. If after consulting with Deborah Cooper you feel you would benefit from utilizing another type of therapy, Deborah Cooper will always direct you to the most suitable health professional for your needs, and will always refer you back to your Physician or General Practitioner when required, and when considered to be in the best interests of your health.</p>

        <p>If you are concerned you have experienced a non-life threatening adverse reaction to any product that has been prescribed or purchased from this site, cease using it immediately and contact Deborah who will advise how to proceed and, in addition, Deborah Cooper will notify the Therapeutic Goods Administration (TGA).</p>

        <p>In the case of a medical emergency do not reach out to Deborah Cooper as your primary contact, but rather call your General Practioner. If urgent ring 000 or the equivalent emergency number in your country of residence, or present immediately to your nearest hospital.</p>

        <div class="sub-heading">
        <p>Payment Terms</p>
        </div>

        <p>Accepted payments include Direct Debit, Credit Card and Cash.</p>

        <p>Netbank transfers are also accepted.</p>

        <p>Goods purchased will be sent once payment is received.</p>

        <div class="sub-heading">
        <p>Delivery and Shipping</p>
        </div>

        <p>Products will be sent to you at Deborah Cooper's earliest convenience. Deborh Cooper will aim to send products on the day of purchase. All goods within Australia are sent via Australia Post using Regular or Express Post Prepaid Satchels at your request.</p>

        <p>Shipping costs for parcels sent internationally will vary according to the size and weight of the package as well as the destination. Please note there may be restrictions and delays affecting International postal services.</p>

        <p>Collection from Maroubra can be arranged by appointment.</p>

        <div class="sub-heading">
        <p>Appointment Policy</p>
        </div>

        <p>Consultations are made strictly by appointment. Please aim to be on time so as not to inconvenience those who follow your appointed time slot.</p>

        <div class="sub-heading">
        <p>Cancellation Policy</p>
        </div>

        <p>Should you need to change your appointment or cancel it for any reason, please provide at least 24 hours notice whenever possible, otherwise a cancellation fee may apply as follows:</p>

        <p>More than 24 hours notice - no charge</p>
        <p>Situation beyond your control and appointment rescheduled - no charge</p>
        <p>Less than 24 hours notice - 50% of the appointment fee charged</p>
        <p>Missed appointment - 50% of the appointment fee charged</p>

        <div class="sub-heading">
        <p>Refund Policy & Consumer Guarantees</p>
        </div>

        <p>If buying products from this website, a full 100% satisfaction guarantee is offered to customers who change their mind within 7 days from purchase. However if the goods have been sent, they will need to be returned to Deborah Cooper at the customers expense.</p>

        <p>If there is a problem with the product it will be replaced at no charge, fully refunded or replaced with another product of the same value, and postage will be paid by Deborah Cooper. Please take a photograph to demonstrate the problem and provide the batch number and use by date.</p>

        <p>Products that have been used or not stored correctly will generally not be refunded. However Deborah Cooper will discuss the option of providing a credit.</p>
        
        <p>Deborah Cooper takes her obligations under Australian Consumer Law seriously, and would like to hear if there are any issues related to any of the products purchased from this website.</p>

        <div class="sub-heading">
        <p>Respectful Communication</p>
        </div>

        <p>If you have any concerns, issues or complaints arising out of your use of this website, Deborah Cooper's products or services, or these terms and conditions, Deborah Cooper agrees to communicate with the intention of making a genuine effort to resolve the dispute through negotiation and discussion. Please let Deborah Cooper know within 7 days so that she can address your concerns and try to find a mutually acceptable solution.</p>

        <div class="sub-heading">
          <p>Dispute Resolution</p>
        </div>

        <p>If either you or Deborah Cooper have any concerns arising out of these terms, your use of this website, or the provision of products or services provided by Deborah Cooper, both you and Deborah Cooper agree that all communication will be undertaken with the intention of making a genuine effort to seek a win/win solution and resolve any dispute by negotiation and discussion.</p>
        
        <p>All information exchanged during this negotiation process or any subsequent dispute resolution process, shall be regarded as “without prejudice” communications for the purpose of settlement negotiations, and shall be treated as confidential by everyone involved and their representatives, unless otherwise required by law. However, evidence that is independently admissible or discoverable shall not be rendered inadmissible or non-discoverable by virtue of its use during the dispute resolution process.</p>

        <p>For example: Everyone involved in the dispute agrees that they will not publicly or privately disparage any other party or anyone associated with them, and will act in good faith to refrain from any conduct or communication which might reasonably be expected to interfere with any other party’s business or personal interests.</p>

        <p>This agreement is subject to the governing law of New South Wales. Regardless of where you live in the world, you irrevocably agree that if the dispute resolution processes fail, the courts of New South Wales, and the Commonwealth of Australia, will have exclusive jurisdiction.</p>
      </div>
    </div>
    
    </section>
    

    
  

    

 

    <footer class="footer">
    <div class="footer-container">
      <div class="footer-title">
        <p><span class="deb">deborah</span><span class="cooper">cooper</span></p>
        <p>Naturopathy, Herbal Medicine and Nutrition</p>
      </div>
      <div class="emailphone">
        <a class="emailphone" href="/">info@deborahcooper.com.au</a>
        <a class="emailphone" href="/">0421 335645</a>
      </div>
      <div class="finepprint">
        <a href="/privacy">Privacy Policy</a>
        <a href="/terms">Terms & Conditions</a>
      </div>
    </div>
    
    <div class="copyright">
      <p>&copy 2021 Deborah Cooper All Rights Reserved</p>
    </div>
  </footer> 

{% endblock content %}
